    <div class="container"  id="skrollr-body" data-0="background-color:rgb(0,0,0);"data-500="background-color:rgb(0,0,0);"data-900="background-color:rgb(243,152,0);"data-2600="background-color:rgb(251, 160, 0);" data-4500="background-color:rgb(255, 102, 102);" data-4650="background-color:rgb(255, 102, 102);" data-5700="background-color:rgb(74,173,255);">
       <!--rgb(251, 160, 0)-주황 rgb(74,173,255)-파랑 rgb(0,201,147)-초록 rgb(255, 102, 102)-분홍-->
                                                           
       <!--시작 사자 이미지 -->
        <div style="width:100%;margin-top:0px;">
            <img src="/images/x4.jpg" style="width:100%">
        </div>
        
        <a class="arrow" href="#introduce" id="start"><i class="icon-sort-down"></i></a>
            
   
        <!--소개 이미지-->
       
        <div id="introduce">
             <!--사자아이콘-->
            <div style="text-align:center;" id="lion_icon" >
                <img src="/images/lion_icon.png">
                <h2>INTRODUCE</h2>
            </div>
            <div id="tab3">
                <div style="text-align:right;" id="introduce_ruby" >
                    <img src="/images/introduce_ruby2.png" style="width:80%;margin-top:7%;margin-right:5%;">
                </div>
                
            </div>
            <div id="tab4"><div style="text-align:center;" id="introduce_ruby2" >
                    <img src="/images/introduce_tmp2.png" style="width:80%;margin-top:2%;">
                </div>
            </div>
        </div>
    
        
        <a class="arrow" href="#schedule" id="schedule-top"><i class="icon-sort-down"></i></a>
      
        <!--일정표-->
        <div id="schedule">
              <!--사자아이콘-->
            <div style="text-align:center;" id="lion_icon"  >
                <img src="/images/lion_icon.png" >
                <h2>SCHEDULE</h2>
            </div>
            <img src="images/sch3.png"  >
        </div> 
        
         <a class="arrow" href="#people"><i class="icon-sort-down"></i></a>
        
      
        
        <!--/ 인물사진-->

            <div id="people" >
                  <!--사자아이콘-->
                <div style="text-align:center;" id="lion_icon" >
                    <img src="/images/lion_icon.png" >
                    <h2>DEVELOPER</h2>
                </div>
                <ul class="img-list">
                    <li>
                        <img src="/images/intro_jh.jpg"/>
                        <span class="text-content"><span>Moon Jong Ho</span></span>
                    </li>
                    <li>
                        <img src="/images/intro_ys.jpg"/>
                        <span class="text-content"><span>Jeong Youn Sub</span></span>
                    </li>
                    <li>
                        <img src="/images/intro_yh.jpg"/>
                        <span class="text-content"><span>Yang Young Hoon</span></span>
                    </li>
                </ul>
                <ul class="img-list">
                    <li>
                        <img src="/images/intro_ji.jpg"/>
                        <span class="text-content"><span>Kim Jae In</span></span>
                    </li>
                    <li>
                        <img src="/images/intro_am.jpg" />
                        <span class="text-content"><span>Kang A Mi</span></span>
                    </li>
                    <li>
                        <img src="/images/intro_hs.jpg" width="150" height="150" />
                        <span class="text-content"><span>Lim Hyun Seo</span></span>
                    </li>
                </ul> 
            </div>
         <a class="arrow" href="#email"><i class="icon-sort-down"></i></a>

        <!--사자아이콘-->
        
        
        <!--이메일 -->
        <div style="width:100%;text-align:center;" id="email">
            <div style="text-align:center;" id="lion_icon" >
            <img src="/images/lion_icon.png" >
            <h2>CONTACT</h2>
            <h5> 물어보고 싶은 사항을 이메일로 물어보세요.</h5>
        </div>
            <center>
            <div style="width:40%;">
                
                 <!-- 이메일 : YH -->

                        <div class="form-group">
                            <p style="text-align:left;"><b>E_MAIL</b></p>
                            <input type="email" class="form-control" id=email_id_yh name=email_name_yh placeholder="자신의 이메일을 입력하세요.">
                        </div>
                        
                        <div class="form-group">
                            <p style="text-align:left;"><b>제 목</b></p>
                            <input type="text" class="form-control" id=title_id_yh name=title_name_yh placeholder="보낼 이메일의 제목을 입력하세요.">
                        </div>
                        
                        <div class="form-group">
                           <p style="text-align:left;"><b>내 용</b></p>
                            <textarea type="text" class="form-control" id=content_id_yh name=content_name_yh rows="10" placeholder="보낼 이메일의 내용을 입력하세요."></textarea>
                        </div>
                        
                
                        <center><button type="submit" class="btn submit" id="email_button" style="color:white; margin-top:30px;">이메일 전송</button></center>
                    </form>
                    
            </div>
            </center>
        </div>

        <!--푸터-->
           <footer class="footer-basic-centered">

		    <p class="Group_name">
		        멋쟁이 사자처럼 4기
		        <img src="images/likelion_logo.png" 
		        width="30" style="padding-bottom:3px;"/>
		    </p>      

			<p class="developer">
				<font>문종호</font>
				· 
				<font>정윤섭</font>
				· 
				<font>양영훈</font>
				· 
				<font>김재인</font>
				· 
				<font>강아미</font>
				·
				<font>임현서</font>
			</p>

			<p class="copyright" style="margin-top:20px;"> KGU X likelion &copy; 2016</p>

		</footer>

    </div><!-- container-->



    <script>
        //이메일 ajax 구현
        $(".submit").click(function(){
            email =$("#email_id_yh").val();
            title =$("#title_id_yh").val();
            content = $("#content_id_yh").val();
            
            $.ajax({
              method: "POST",
              url: "/home/write",
              data: { email_name_yh:email, title_name_yh:title ,  content_name_yh:content},
              success: function(){
                $("#email_id_yh").val("");  
                $("#title_id_yh").val("");
                $("#content_id_yh").val("");
                alert("이메일이 성공적으로 보내졌습니다!\n멋쟁이 사자처럼에 관심을 가져주셔서 감사합니다^^");  
              },
              error: function(){
                alert("이메일이 보내지지 않았습니다.\n잘못 입력된 부분이 없는지 확인해주세요.");
              }
            })//ajax
         }); // click
    
    </script>

    